// Screensizes
// -------------------------
$screen-width-md:             1200px;
$screen-width-sm:             992px;
$screen-width-xs:             768px;

// Glyphicons font path
// -------------------------
$icon-font-path:        "../fonts/";

// Grid settings
// -------------------------
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
// -------------------------
$brand-primary:         #86a032;
$brand-secondary:       #45687f;
$light-grey-color:      #efefef;

$normal-text-color:     #595959;
$light-text-color:      #969696;

//Border colors
// -------------------------
$light-border-color:    #eee;
$normal-border-color:   #dadada;